@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

h1 {
  color: darkgreen;
  font-size: 50px;
  margin: 0 auto;
}

h2 {
  color: black;
  font-size: 25px;
  margin: 0 0 50px 0;
}

.game-board {
    display: inline-grid;
    min-height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.square {
    /* border: 5px solid black; */
    width: 150px;
    height: 150px; 
    line-height: 150px;
    font-size: 75px;
}

#left-top, #center-top{
    border-right: 10px solid black;
    border-bottom: 10px solid black;
  }
  
  #right-top, #right-middle {
    border-bottom: 10px solid black;
  }
  
  #left-middle, #center-middle {
    border-right: 10px solid black;
    border-bottom: 10px solid black;
  }
  
  #left-bottom, #center-bottom {
    border-right: 10px solid black;
  }