@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
        font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: 0px 0px;
}

/* background cuts off horizontally when window < 510px - how fix? */
header {
    background-color: tan;
    border-bottom: 1px solid black;
}

h1 {
    color: black;
    font-size: 50px;
    margin: 0 auto;
    padding: 10px 0 0 0;
}

h2 {
    font-size: 25px;
    padding: 0 0 5px 0;
}

.game-board {
    display: inline-grid;
    min-height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 20px;
}

.square {
    width: 150px;
    height: 150px; 
    line-height: 150px;
    font-size: 100px;
}

.left.top, .center.top{
    border-right: 10px solid black;
    border-bottom: 10px solid black;
  }
  
.right.top, .right.middle {
    border-bottom: 10px solid black;
  }
  
.left.middle, .center.middle {
    border-right: 10px solid black;
    border-bottom: 10px solid black;
  }
  
  .left.bottom, .center.bottom {
    border-right: 10px solid black;
  }