@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ranchers&display=swap');
body {
  box-sizing: border-box;
  background-color: white;
}
h1 {
  color: purple;
  text-align: center;
  height: 80px;
}

.container {
  height: 450px;
  width: 450px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  margin: 0 auto;
  text-align: center;
  font-size: 125px;


}
.topMenu {
  height: 60px;
  width: 650px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  position: relative;

}
.botMenu {
  height: 200px;
  width: 450px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;


}

.insideDiv {
  height: 150px;
  width: 150px;
  background-color: white;
  border: 3px solid black;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;

}

#restButton {

  justify-content: center;
  align-content: center;
  width: 200px;
  height: 40px;
  font-family: 'Ranchers', cursive;
}

#div1 {
  border-top: 0;
  border-left: 0;
}

#div2 {
  border-top: 0;
}
#div3 {
  border-top: 0;
  border-right: 0;
}
#div4 {
  border-left: 0;
}
#div5 {

}
#div6 {
  border-right: 0;

}
#div7 {
  border-left: 0;
  border-bottom: 0;
}
#div8 {
  border-bottom: 0;
}
#div9 {
  border-right: 0;
  border-bottom: 0;
}
